[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CC"]
	path = CC
	url = https://github.com/cran/CC
[submodule "DAAG"]
	path = DAAG
	url = https://gitlab.com/daagur/daag
[submodule "MPV"]
	path = MPV
	url = https://github.com/cran/MPV
[submodule "MiscMath"]
	path = MiscMath
	url = https://github.com/cran/MiscMath
[submodule "mcODE"]
	path = mcODE
	url = https://github.com/cran/mcODE
[submodule "sharpData"]
	path = sharpData
	url = https://github.com/cran/sharpData
