[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CC"]
	path = CC
	url = https://github.com/cran/CC
[submodule "DAAG"]
	path = DAAG
	url = https://github.com/cran/DAAG
[submodule "MPV"]
	path = MPV
	url = https://github.com/cran/MPV
[submodule "sharpData"]
	path = sharpData
	url = https://github.com/cran/sharpData
